<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Microsoft Taiwan 30 Anniversary Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>

</head>
<body>
    
    <div class="main">
        <div class="container">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" src="/static/images/form-party.jpg" alt="Booking Image">
                </div>
                <div class="booking-form">
                    <form id="booking-form">
                        <h2>Join Microsoft Year End Party Now!</h2>
                        <h3>We will send QRCode to your email and do lucky draw with alias, please make sure you write down the correct one!</h3>
                        <div class="form-group form-input">
                                <input type="text" name="name" id="name" value="" required/>
                                <label for="name" class="form-label">您的姓名</label>
                        </div>
                        
                        <div class="form-group form-input">
                            <input type="text" name="alias" id="alias" value="" required/>
                            <label for="alias" class="form-label">您的Alias</label>
                        </div>

                        <div class="form-group form-input">
                            <select name="department" id="department" required>
                                <!-- option:not(:checked) -->
                                <option value="ec">EC</option>
                                <option value="ep">EP</option>
                                <option value="es">ES</option>
                                <option value="mo">M&O</option>
                                <option value="ocpsmc">OCP&SMC</option>
                                <option value="cse">CSE</option>
                                <option value="it">IT</option>
                                <option value="rd">RD</option>
                                <option value="es">ES</option>
                                <option value="cds">CDS</option>
                                <option value="css">CSS</option>
                                <option value="hr">HR</option>
                                <option value="cela">CELA</option>
                                <option value=finance>FINANCE</option>
                            </select>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="email" id="email" value="" required />
                            <label for="email" class="form-label">您的Email</label>
                        </div>
                        <div class="form-group form-input">
                            <select name="cuisine" id="cuisine" required>
                                <!-- option:not(:checked) -->
                                <option value="normal">沒有特殊飲食</option>
                                <option value="veg">素食者</option>
                            </select>
                        </div>
                        
                        <div class="form-radio" id="accompany-form-radio">
                            <label class="label-radio">是否參與尾牙</label>
                            <div class="radio-item-list">
                                <span class="radio-item active checked" item-desc="共1人">
                                    <input type="radio" name="accompany" value="1" id="yes_one" checked="checked" />
                                    <label for="yes_one">是</label>
                                </span>
                                <span class="radio-item active checked" item-desc="共2人">
                                    <input type="radio" name="accompany" value="2" id="yes_two" />
                                    <label for="yes_two">是</label>
                                </span>
                                <span class="radio-item active checked" item-desc="公&nbsp;&nbsp;假&nbsp;">
                                    <input type="radio" name="accompany" value="3" id="no_business" />
                                    <label for="no_business">否</label>
                                </span>
                                <span class="radio-item active checked" item-desc="產&nbsp;假">
                                    <input type="radio" name="accompany" value="4" id="no_baby" />
                                    <label for="no_baby">否</label>
                                </span>
                            </div>
                        </div>
                        <div class="form-submit">
                            <center><input type="submit" value="Submit" class="submit" id="submit" name="submit" /></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>